body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Mukta', sans-serif;
  font-size: 16px;
  color: #2d3c49;
}

h1, h2, hr {
  margin: 0;
}

header, nav, footer, section, article, div {
  box-sizing: border-box;
}

/*** Header ***/

.header{
	min-height: 120px;
	margin: 15px 0px 5px 0px;
}

.header__inner{
	text-align: center;
	text-transform: uppercase;
	height: 120px;

}

.header__logo__container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 5px;
}

.header__title{
	font-size: 28px;
	font-weight: 200;
}

.header__caption {
	font-size: 16px;
	font-weight: 500;
}

hr {
	background-color: #7d97ad;
    border: 0 none;
    color: #7d97ad;
    height: 2px;
}

/*** Content ***/

.hero {
	margin: 10px 0px 0px 0px;
}
.hero__banner {
	max-width: 100%;
}

.feature__work {
	text-align: center;
}

.work__image {
	width: 50%;
	height: auto;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.work__image__title {
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 500;
}

.work__image__url {
	font-size: 12px;
	font-weight: 200px;
}
